<!DOCTYPE html>
<html ng-app="{% block appname %}{% endblock %}">
<head>
    {% block includes %}
        {% for file in includes|glop %}
            {% if file.relative.slice(-3) == ".js" %}
                <script type="text/javascript" src="{{ static_url}}{{ file.relative }}"></script>
            {% elif file.relative.slice(-4) == ".css" %}
                <link href="{{ static_url }}{{ file.relative }}" rel="stylesheet" media="all">
            {% endif %}
        {% endfor %}
    {% endblock %}

    {% block head %}{% endblock %}

</head>

<body>
    {% block body %}
    {% endblock %}
</body>

</html>