<button class="btn btn-primary" ng-click="execute()">Run <span class="glyphicon glyphicon-play"></span></button>
<div class="codecell">
    <div class="input">
        <div class="prompt">In [{{ executionCount||' ' }}]:</div>
        <div class="code-area">
            <ui-codemirror ui-codemirror-opts="{mode: 'python'}" ng-model="input"></ui-codemirror>
        </div>
    </div>
    <div class="output" ng-show="stream.length || result || error">
        <div class="prompt prompt-overlay"></div>
        <div class="display-area">
            <div class="stream" ng-show="stream">
                <div class="display-line">
                    <div class="prompt"></div>
                    <pre class="result">{{ stream }}</pre>
                </div>
            </div>
            <div class="pyout display-line" ng-show="error">
                <div class="prompt"></div>
                <result-area result="error" class="result"></result-area>
            </div>
            <div class="pyout display-line" ng-show="result.data">
                <div class="prompt">Out[{{ executionCount||' ' }}]:</div>
                <result-area result="result" class="result"></result-area>
            </div>
        </div>
    </div>
</div>