<div class="codecell">
    <div class="input">
        <div class="prompt">In [{{ executionCount||' ' }}]:</div>
        <div class="code-area">
            <ui-codemirror ui-codemirror-opts="{mode: 'python'}" ng-model="input"></ui-codemirror>
        </div>
    </div>
    <div class="output" ng-show="stream.length || output">
        <div class="prompt prompt-overlay"></div>
        <div class="display-area">
            <div class="stream" ng-show="stream">
                <div class="display-line">
                    <div class="prompt"></div>
                    <pre class="result">{{ stream }}</pre>
                </div>
            </div>
            <div class="pyout display-line" ng-show="output">
                <div class="prompt">Out[{{ executionCount||' ' }}]:</div>
                <pre class="result">{{ output }}</pre>
            </div>
        </div>
    </div>
</div>
<button ng-click="execute()">Execute</button>