<div class="ipy-codearea">
    <div ui-codemirror="ctrl.cmOptions" ng-if="ctrl.ready" ng-model="ctrl.source"></div>
    <ul class="ipy-completions" ng-style="ctrl.completionsStyle" ng-show="ctrl.showCompletions">
        <li class="completion" ng-repeat="completion in ctrl.completions" ng-class="{'selected': $index == ctrl.selected}"
            ng-mouseenter="ctrl.select($index, $event)" ng-mousedown="ctrl.autocomplete($event)">
            <span class="highlight">{{ ctrl.fragment }}</span>{{ completion }}
        </li>
    </ul>
</div>