.test-main{
  .codecell{
    margin-bottom: 30px;
  }

}


.test-debug{
  .debugger{
    .top-row{
      .CodeMirror {
        height: 70vh;
      }
    }
    .bottom-row{
      height: 30vh;
    }
  }
}

html,body{
  background: rgba(0, 0, 0, .14) !important;
  margin: -20px;
}