<div class="debugger">
    <div class="top-row">
        <ui-codemirror class="source" ui-codemirror-opts="{mode: 'python', lineNumbers: true, readOnly: true}" ng-model="source"></ui-codemirror>
    </div>

    <div class="bottom-row">
        <div class="stack">
            <button class="btn frame" ng-click="goToFrame($index)"
                    ng-class="{'btn-primary': $index==currentFrame, 'btn-danger': $index!=currentFrame}"
                    ng-repeat="frame in stack"
                    >{{ frame.filename }} {{ frame.function }}</button>
        </div>

        <div class="locals">
            <watch expressions="locals" refresh="refreshLocals"></watch>
        </div>
    </div>

</div>